/* ==========================================================================
   MANIFEST
   ========================================================================== */

/*

CONTENT

  CORE:         Framework core
  TOOLS:        Mixins and functions
  SETTINGS:     Global variables, site-wide settings
  PALETTES:     The place to import sets of color
  GENERIC:      Low-specificity, far-reaching rulesets (e.g. resets)
  ELEMENTS:     Unclassed HTML elements (e.g. a {}, blockquote {}, address {})
  OBJECTS:      Objects, abstractions, and design patterns (e.g. .media {})
  COMPONENTS:   Discrete, complete chunks of UI (e.g. .carousel {})
  UTILITIES:    High-specificity, very explicit selectors. Overrides and helper
                classes (e.g. .u-hidden {}).

*/

/*
  THIS IS AN EXAMPLE SCSS MANIFEST, DON'T EDIT THIS FILE.
  Copy this to your project's root and customize it there.
*/

// CORE

@import "core/core.math";
@import "core/core.deep-map-merge";
@import "core/core.string-replace";
@import "core/core.unit-conversion";
@import "core/core.css-props";
@import "core/core.class-separators";
@import "core/core.pseudo-classes";
@import "core/core.namespace";
@import "core/core.utility";
@import "core/core.component";
@import "core/core.element";
@import "core/core.modifier";
@import "core/core.state";
@import "core/core.color";
@import "core/core.font-size";
@import "core/core.media-query";
@import "core/core.spacing";
@import "core/core.debug";
@import "core/core.z-index";





// TOOLS

@import "tools/saffron/saffron";
@import "tools/tools.border-radius";
@import "tools/tools.clearfix";
@import "tools/tools.elevation";
@import "tools/tools.hidden";
@import "tools/tools.highlight";
@import "tools/tools.label";
@import "tools/tools.shadow-border";





// SETTINGS

@import "settings/settings.core";
@import "settings/settings.namespace";
@import "settings/settings.class-separators";
@import "settings/settings.pseudo-classes";
@include pseudo-class(css-props, (
  hover active focus disabled enabled
));

@import "settings/settings.typography";
@import "settings/settings.spacing";
@import "settings/settings.color";
@import "settings/settings.transition";
@import "settings/settings.border-radius";





// PALETTES

@import "palettes/palettes.google-material";
@include palette($palette-google-material);





// GENERIC

@import "generic/generic.box-sizing";
@import "generic/generic.normalize";
@import "generic/generic.reset";
@import "generic/generic.headings";
@import "generic/generic.tables";
@import "generic/generic.inputs";
@import "generic/generic.links";





// OBJECTS

@import "objects/objects.layout";
@import "objects/objects.list-inline";





// COMPONENTS

@import "components/components.wrapper";
@import "components/components.print-wrapper";
@import "components/components.page-container";
@import "components/components.menu";
@import "components/components.nav-link";
@import "components/components.label";
@import "components/components.horizontal-divider";
@import "components/components.dialog";
@import "components/components.table";
@import "components/components.input";
@import "components/components.text-input";
@import "components/components.button";
@import "components/components.tile";
@import "components/components.material-icons";





// UTILITIES

@import "utilities/utilities.css-props";
@import "utilities/utilities.display";
@import "utilities/utilities.hidden";
@import "utilities/utilities.font-size";
@import "utilities/utilities.color";
@import "utilities/utilities.typography";
@import "utilities/utilities.spacing";
@import "utilities/utilities.widths";
@import "utilities/utilities.heights";
@import "utilities/utilities.flexbox";
@import "utilities/utilities.descendent";
@import "utilities/utilities.elevation";
@import "utilities/utilities.animation";
@import "utilities/utilities.shadow-border";
@import "utilities/utilities.mute";
@import "utilities/utilities.pointer-events";
@import "utilities/utilities.highlight";
@import "utilities/utilities.border-radius";
