/* ==========================================================================
   MANIFEST
   ========================================================================== */

/*

CONTENT

  TOOLS:        Mixins and functions
  SETTINGS:     Global variables, site-wide settings
  PALETTES:     The place to import sets of color
  GENERIC:      Low-specificity, far-reaching rulesets (e.g. resets)
  ELEMENTS:     Unclassed HTML elements (e.g. a {}, blockquote {}, address {})
  OBJECTS:      Objects, abstractions, and design patterns (e.g. .media {})
  COMPONENTS:   Discrete, complete chunks of UI (e.g. .carousel {})
  UTILITIES:    High-specificity, very explicit selectors. Overrides and helper
                classes (e.g. .u-hidden {}).

*/

/*
  THIS IS AN EXAMPLE SCSS MANIFEST, DON'T EDIT THIS FILE.
  Copy this to your project's root and customize it there.
*/

// TOOLS
@import "tools/tools.math";
@import "tools/tools.string-replace";
@import "tools/tools.unit-conversion";
@import "tools/tools.css-props";
@import "tools/tools.pseudo-classes";
@import "tools/tools.border-radius";
@import "tools/tools.color";
@import "tools/tools.clearfix";
@import "tools/tools.media-query";
@import "tools/tools.spacing";
@import "tools/tools.font-size";
@import "tools/tools.elevation";
@import "tools/tools.label";
@import "tools/tools.hidden";
@import "tools/tools.shadow-border";
@import "tools/saffron/saffron";
@import "tools/tools.highlight";
@import "tools/tools.debug";





// SETTINGS
@import "settings/settings.core";
@import "settings/settings.pseudo-classes";
@import "settings/settings.typography";
@import "settings/settings.spacing";
@import "settings/settings.color";
@import "settings/settings.transition";
@import "settings/settings.border-radius";





// PALETTES
@import "palettes/palettes.google-material";
@include set-palette($palette-google-material);





// GENERIC
@import "generic/generic.box-sizing";
@import "generic/generic.normalize";
@import "generic/generic.reset";





// ELEMENTS
@import "elements/elements.headings";
@import "elements/elements.tables";
@import "elements/elements.inputs";
@import "elements/elements.links";





// OBJECTS
@import "objects/objects.wrapper";
@import "objects/objects.print-wrapper";
@import "objects/objects.page-container";
@import "objects/objects.layout";
@import "objects/objects.child";
@import "objects/objects.list-inline";
// TODO: These should be components, not objects
@import "objects/objects.menu";
@import "objects/objects.nav-link";
@import "objects/objects.label";
@import "objects/objects.horizontal-divider";
@import "objects/objects.dialog";
@import "objects/objects.table";
@import "objects/objects.input";
@import "objects/objects.text-input";
@import "objects/objects.button";
@import "objects/objects.tile";
@import "objects/objects.material-icons";





// COMPONENTS





// UTILITIES
@import "utilities/utilities.display";
@import "utilities/utilities.hidden";
@import "utilities/utilities.font-size";
@import "utilities/utilities.color";
@import "utilities/utilities.typography";
@import "utilities/utilities.spacing";
@import "utilities/utilities.widths";
@import "utilities/utilities.heights";
@import "utilities/utilities.flexbox";
@import "utilities/utilities.elevation";
@import "utilities/utilities.animation";
@import "utilities/utilities.shadow-border";
@import "utilities/utilities.mute";
@import "utilities/utilities.pointer-events";
@import "utilities/utilities.highlight";
@import "utilities/utilities.border-radius";
