/* ==========================================================================
   #TEXT-INPUT
   ========================================================================== */

.o-text-input,
%o-text-input {
  @extend %o-input;
  transition: box-shadow $global-transition-fast;

  width: 100%;
  background-color: white;

  box-shadow: inset 0 0 0 1px get-color("input-border");
  
  &:hover { box-shadow: inset 0 0 0 1px get-color("input-border-hover"); }
  &:focus { box-shadow: inset 0 0 0 2px get-color("input-border-focus"); }
}
