/* ==========================================================================
   #TABLE
   ========================================================================== */

.o-table,
%o-table {

  &--fixed {
    table-layout: fixed;
  }

  tr {
    border-bottom: 1px solid $color-grey-300;

    @at-root .o-table thead tr {
      border-bottom: 1px solid $color-grey-400;
      background-color: white;
    }
  }

  th {
    @include label();

    @at-root .o-table--middle th {
      vertical-align: middle;
    }
  }

  td {
    @at-root .o-table--middle td {
      vertical-align: middle;
    }
  }
}

/* Padding variants */
.o-table--comfortable th,
.o-table--comfortable td {
  @include padding-vertical(small);
  @include padding-horizontal;
}
.o-table--cozy th,
.o-table--cozy td {
  @include padding-vertical(tiny);
  @include padding-horizontal(small);
}
.o-table--compact th,
.o-table--compact td {
  @include padding-vertical(nano);
  @include padding-horizontal(micro);
}

/* Column padding variants */
.o-table--comfortable-columns th,
.o-table--comfortable-columns td {
  @include padding-horizontal;
}
.o-table--cozy-columns th,
.o-table--cozy-columns td {
  @include padding-horizontal(small);
}
.o-table--compact-columns th,
.o-table--compact-columns td {
  @include padding-horizontal(tiny);
}

/* Row padding variants */
.o-table--comfortable-rows th,
.o-table--comfortable-rows td {
  @include padding-vertical;
}
.o-table--cozy-rows th
.o-table--cozy-rows td {
  @include padding-horizontal(small);
}
.o-table--compact-rows th,
.o-table--compact-rows td {
  @include padding-horizontal(tiny);
}
