/* ==========================================================================
   #WRAPPER
   ========================================================================== */

/*
  Taken from InuitCSS
*/

/**
 * Page-level constraining and wrapping elements.
 */

$wrapper-width: 960px;

.o-wrapper,
%o-wrapper {
  max-width: $wrapper-width;
  margin-right: auto;
  margin-left:  auto;
  @include clearfix;
  @include padding-horizontal;
}
