/* ==========================================================================
   #HORIZONTAL-DIVIDER
   ========================================================================== */

.o-horizontal-divider,
%o-horizontal-divider {
  height: 1px;
  width: 100%;
  background-color: $color-line-base;
}
