.o-page-container {
  display: flex;
  flex-flow: column;
  min-height: 100vh;

  background-color: get-color("app-background");

  &__top-bar {};

  &__body {
    flex-grow: 1;
  }

  &__footer {};
}
