/* ==========================================================================
   #TYPOGRAPHY
   ========================================================================== */

.u-text-right {
  text-align: right !important;
}
.u-text-left {
  text-align: left !important;
}
.u-text-center {
  text-align: center !important;
}


// Vertical Align Middle
// Good for situations like aligning text with buttons
.u-middle {
  vertical-align: middle !important;
}
