/* ==========================================================================
   #TYPOGRAPHY
   ========================================================================== */
   $font-utility-states: hover focus active visited !default;
   $font-utility-responsive: true !default;

   // Build background color utility classes
   @each $font, $value in $global-typography {
     @if $font != null {
       @include utility(
         $name: "font#{class-separator(modifier)}#{$font}",
         $responsive: $font-utility-responsive,
         $states: $font-utility-states
       ) {
         @include font($font);
       }
     }
   }
