/* ==========================================================================
   #COLOR
   ========================================================================== */


/* Generate Color Palette */

@mixin build-palette-utilities($breakpoint: null) {
  @each $color, $rgb in $global-palette {
    .u-color-text-#{$color}#{$breakpoint} {
      color: #{$rgb} !important;
    };
    .u-color-#{$color}#{$breakpoint} {
      background-color: #{$rgb} !important;
    };
  }
}

@include build-palette-utilities();

@each $breakpoint-name, $breakpoint-value in $mq-breakpoints {
  @include mq($from: $breakpoint-name) {
    @include build-palette-utilities($breakpoint: \@#{$breakpoint-name});
  }
}





.u-color-text-white {
  color: get-color("white") !important;
}

.u-color-white {
  background-color: get-color("white") !important;
}

.u-color-text-grey {
  color: get-color("grey") !important;
}

.u-color-grey {
  background-color: get-color("grey") !important;
}

.u-color-text-primary {
  color: get-color("primary") !important;
}

.u-color-primary {
  background-color: get-color("primary") !important;
}

.u-color-text-secondary {
  color: get-color("secondary") !important;
}

.u-color-secondary {
  background-color: get-color("secondary") !important;
}

.u-color-text-success {
  color: get-color("success") !important;
}

.u-color-success {
  background-color: get-color("success") !important;
}

.u-color-text-alert {
  color: get-color("alert") !important;
}

.u-color-alert {
  background-color: get-color("alert") !important;
}
