/* ==========================================================================
   #FONT-SIZE
   ========================================================================== */

.u-display-1 {
  @include font-size($global-font-size-display-1, $important: true);
  font-weight: 400;
  line-height: rem(40px);
}

.u-display-2 {
  @include font-size($global-font-size-display-2, $important: true);
  font-weight: 400;
  line-height: rem(48px);
}

.u-display-3 {
  @include font-size($global-font-size-display-3, $important: true);
  font-weight: 400;
  line-height: 1.35;
  letter-spacing: -0.02em;
}

.u-display-4 {
  @include font-size($global-font-size-display-4, $important: true);
  font-weight: 300;
  line-height: 1;
  letter-spacing: -0.04em;
}

.u-h1 {
  @include font-size($global-font-size-h1, $important: true);
}

.u-h2 {
  @include font-size($global-font-size-h2, $important: true);
}

.u-h3 {
  @include font-size($global-font-size-h3, $important: true);
}

.u-h4 {
  @include font-size($global-font-size-h4, $important: true);
}

.u-base {
  @include font-size($global-font-size, $important: true);
}

.u-small {
  @include font-size($global-font-size-small, $important: true);
}

.u-tiny {
  @include font-size($global-font-size-tiny, $important: true);
}

.u-micro {
  @include font-size($global-font-size-micro, $important: true);
}
