/* ==========================================================================
   #SPACING
   ========================================================================== */

/**
 * Generates classes like
 *
 *   .u-margin--small@mobile {}
 *   .u-margin-top--large@tablet {}
 *   .u-margin-horizontal--micro {}
 *   .u-padding-none {}
 */

$_spacing-props: (
  "margin",
  "margin-top",
  "margin-right",
  "margin-bottom",
  "margin-left",
  "padding",
  "padding-top",
  "padding-right",
  "padding-bottom",
  "padding-left"
);

$_spacing-directions: (
  null: null,
  "top": "-top",
  "right": "-right",
  "bottom": "-bottom",
  "left": "-left",
  "vertical": (
    "-top",
    "-bottom"
  ),
  "horizontal": (
    "-right",
    "-left"
  )
);

$spacing-utility-states: () !default;
$spacing-utility-responsive: true !default;

@each $spacing-type in "margin", "padding" {
  @each $direction-name, $direction-values in $_spacing-directions {
    @if $direction-name != null {
      $direction-name: unquote("-#{$direction-name}");
    }

    @each $spacing-name, $spacing-value in $global-spacing {
      @if $spacing-name != null {
        $spacing-name: unquote("#{class-separator(modifier)}#{$spacing-name}");
      }

      @each $direction-value in $direction-values {
        @include utility(
          $name: "#{$spacing-type}#{$direction-name}#{$spacing-name}",
          $responsive: $spacing-utility-responsive,
          $states: $spacing-utility-states
        ) {
          #{$spacing-type}#{$direction-value}: $spacing-value !important;
        };
      }
    }
  }
}
