/* ==========================================================================
   #MUTE
   ========================================================================== */

.u-mute {
  position: relative;
  &:before {
    content: ' ';
    display: block;
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(235, 235, 235, 0.5);
  }
}
