/* ==========================================================================
   #COLOR
   ========================================================================== */

$color-utility-states: hover focus active visited !default;
$color-utility-responsive: true !default;

// Build background color utility classes
@each $color, $rgb in $global-palette {
  @include utility(
    $class-name: "color--#{$color}",
    $responsive: $color-utility-responsive,
    $states: $color-utility-states
  ) {
    background-color: #{$rgb} !important;
  }

  @include utility(
    $class-name: "text-color--#{$color}",
    $responsive: $color-utility-responsive,
    $states: $color-utility-states
  ) {
    color: #{$rgb} !important;
  }
}
