/* ==========================================================================
   #BORDER-RADIUS
   ========================================================================== */

$build-responsive-radius-variants: true !default;

@mixin build-radius-classes($breakpoint: null) {
  @each $radius-name, $radius-value in $global-radius {
    @if $radius-name != null {
      $radius-name: unquote("-#{$radius-name}");
    }

    .u-radius#{$radius-name}#{$breakpoint} {
      border-radius: em($radius-value) !important;
    }
  }
};

@include build-radius-classes;

@if $build-responsive-radius-variants == true {
  @each $bp-name, $bp-value in $mq-breakpoints {
    @include mq($from: $bp-name) {
      @include build-radius-classes($breakpoint: \@#{$bp-name});
    }
  }
}
