/* ==========================================================================
   #SPACING
   ========================================================================== */

/**
 * Generates classes like
 *
 *   .u-margin-small@mobile {}
 *   .u-margin-top-large@tablet {}
 *   .u-margin-horizontal-micro {}
 *   .u-padding-none {}
 */

$build-responsive-spacing-variants: true !default;

@mixin build-spacing-classes($breakpoint: null) {
  @each $box-prop in "margin", "padding" {
    @each $direction-name, $direction-values in $global-box-directions {
      @if $direction-name != null {
        $direction-name: unquote("-#{$direction-name}");
      }

      @each $spacing-name, $spacing-value in $global-spacing-units {
        @if $spacing-name != null {
          $spacing-name: unquote("-#{$spacing-name}");
        }

        @each $direction-value in $direction-values {
          .u-#{$box-prop}#{$direction-name}#{$spacing-name}#{$breakpoint} {
            #{$box-prop}#{$direction-value}: em($spacing-value) !important;
          }
        }
      }
    }
  }
};

@include build-spacing-classes;

@if $build-responsive-spacing-variants == true {
  @each $bp-name, $bp-value in $mq-breakpoints {
    @include mq($from: $bp-name) {
      @include build-spacing-classes($breakpoint: \@#{$bp-name});
    }
  }
}
