/* ==========================================================================
   #INPUTS
   ========================================================================== */

input {
  display: block;
  position: relative;

  background: transparent;
  border: 0;
  box-shadow: none;
  outline: none;

  font-weight: normal;
  letter-spacing: 0.2px;
}
