/* ==========================================================================
   #TYPOGRAPHY
   ========================================================================== */

$global-font-family: 'Roboto' !default;
$global-font-url: 'https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900' !default;

$global-secondary-font-family: 'Roboto Mono' !default;
$global-secondary-font-url: 'https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,500,700' !default;

@if variable-exists($global-font-url) {
  @import url(#{$global-font-url});
}

@if variable-exists($global-secondary-font-url) {
  @import url(#{$global-secondary-font-url});
}

$global-font-size:   16px !default;
$global-line-height: 24px !default;

$global-font-size-display-4: 112px !default;
$global-font-size-display-3: 56px  !default;
$global-font-size-display-2: 45px  !default;
$global-font-size-display-1: 34px  !default;

$global-font-size-h1: 24px !default;
$global-font-size-h2: 20px !default;
$global-font-size-h3: 18px !default;
$global-font-size-h4: 16px !default;

$global-font-size-small: 13px !default;
$global-font-size-tiny:  12px !default;
$global-font-size-micro: 9px  !default;
