/* ==========================================================================
   #BORDER-RADIUS
   ========================================================================== */

$global-radius-tiny: 1px;
$global-radius-small: 2px;
$global-radius: 3px;
$global-radius-large: 8px;
$global-radius-huge: 12px;
$global-radius-full: 100px;
