/* ==========================================================================
   #NAMESPACE
   ========================================================================== */

/* Sets $global-namespaces */

@include namespace((
  component: "c#{class-separator(prefix)}",
  utility: "u#{class-separator(prefix)}",
  object: "o#{class-separator(prefix)}",
  state: "is#{class-separator(prefix)}",
  content-state: "has#{class-separator(prefix)}"
));
