/* ==========================================================================
   #TRANSITION
   ========================================================================== */

$global-transition-xfast: 120ms;
$global-transition-fast:  200ms;
$global-transition:       400ms;
$global-transition-slow:  700ms;
$global-transition-xslow: 900ms;
