/* ==========================================================================
   #TYPOGRAPHY
   ========================================================================== */

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,500,700');

@include typography((
  null: ( // default
    font-family: "Roboto, sans-serif",
    font-size: 16px,
    line-height: 1.5
  ),
  mono: (
    font-family: "Roboto Mono, sans-serif"
  ),
  h1: (
    font-size: 32px,
    line-height: 1.5
  ),
  h2: (
    font-size: 24px,
    line-height: 1
  ),
  h3: (
    font-size: 20px,
    line-height: 1.25
  ),
  h4: (
    font-size: 18px,
    line-height: 1.333
  ),
  h5: (
    font-size: 16px,
    line-height: 1.5
  ),
  h6: (
    font-size: 16px,
    line-height: 1.5
  ),
  small: (
    font-size: 12px,
    line-height: 2
  ),
  display-4: (
    font-size:      112px,
    font-weight:    300,
    line-height:    1,
    letter-spacing: -0.04em,
    opacity:        0.54
  ),
  display-3: (
    font-size:      56px,
    font-weight:    400,
    line-height:    1.35,
    letter-spacing: -0.02em,
    opacity:        0.54
  ),
  display-2: (
    font-size:      45px,
    font-weight:    400,
    line-height:    48px,
    opacity:        0.54
  ),
  display-1: (
    font-size:      34px,
    font-weight:    400,
    line-height:    40px,
    opacity:        0.54
  ),
  headline: (
    font-size:      24px,
    font-weight:    400,
    line-height:    32px,
    opacity:        0.87
  ),
  title: (
    font-size:      20px,
    font-weight:    400,
    line-height:    1,
    letter-spacing: 0.02em,
    opacity:        0.87
  ),
  subheading: (
    font-size:      16px,
    font-weight:    400,
    line-height:    24px,
    letter-spacing: 0.04em,
    opacity:        0.87
  ),
  body-2: (
    font-size:      14px,
    font-weight:    500,
    line-height:    24px,
    opacity:        0.87
  ),
  body-1: (
    font-size:      14px,
    font-weight:    400,
    line-height:    24px,
    opacity:        0.87
  ),
  button: (
    font-size:      14px,
    font-weight:    500,
    line-height:    1,
    opacity:        0.87,
    text-transform: uppercase
  ),
  caption: (
    font-size:      12px,
    font-weight:    400,
    line-height:    1,
    opacity:        0.54
  ),
  blockquote: (
    font-size:      24px,
    font-weight:    300,
    line-height:    1,
    letter-spacing: 0.08em,
    opacity:        0.54,
    font-style:     italic
  ),
  menu: (
    font-size:      14px,
    font-weight:    500,
    line-height:    1,
    opacity:        0.87
  )
));
