/* ==========================================================================
   #NAMESPACE
   ========================================================================== */

/* Values declared in settings */

$global-namespaces: (
  component: "c#{class-separator(prefix)}",
  utility: "u#{class-separator(prefix)}",
  object: "o#{class-separator(prefix)}",
  state: "is#{class-separator(prefix)}",
  content-state: "has#{class-separator(prefix)}"
);

@mixin namespace($name) {
  $global-namespaces: map-merge(
    $global-namespaces,
    $name
  )
  !global;
}

@function namespace($name) {
  @return map-get($global-namespaces, $name);
}
