/* ==========================================================================
   #NAMESPACE
   ========================================================================== */

/* Values declared in settings */

$global-namespaces: (
  component: "c-",
  utility: "u-",
  object: "o-",
  state: "is-",
  content-state: "has-"
);

@mixin namespace($name) {
  $global-namespaces: map-merge(
    $global-namespaces,
    $name
  )
  !global;
}

@function namespace($name) {
  @return map-get($global-namespaces, $name);
}
