/* ==========================================================================
   #TABLE
   ========================================================================== */

.c-table {

  &--fixed {
    table-layout: fixed;
  }

  tr {
    border-bottom: 1px solid color("grey-300");

    @at-root .c-table thead tr {
      border-bottom: 1px solid color("grey-400");
      background-color: white;
    }
  }

  th {
    @include label();

    @at-root .c-table--middle th {
      vertical-align: middle;
    }
  }

  td {
    @at-root .c-table--middle td {
      vertical-align: middle;
    }
  }
}

/* Padding variants */
.c-table--comfortable th,
.c-table--comfortable td {
  @include padding-vertical(small);
  @include padding-horizontal;
}
.c-table--small th,
.c-table--small td {
  @include padding-vertical(tiny);
  @include padding-horizontal(small);
}
.c-table--tiny th,
.c-table--tiny td {
  @include padding-vertical(nano);
  @include padding-horizontal(micro);
}

/* Column padding variants */
.c-table--comfortable-columns th,
.c-table--comfortable-columns td {
  @include padding-horizontal;
}
.c-table--small-columns th,
.c-table--small-columns td {
  @include padding-horizontal(small);
}
.c-table--tiny-columns th,
.c-table--tiny-columns td {
  @include padding-horizontal(tiny);
}

/* Row padding variants */
.c-table--comfortable-rows th,
.c-table--comfortable-rows td {
  @include padding-vertical;
}
.c-table--small-rows th
.c-table--small-rows td {
  @include padding-vertical(small);
}
.c-table--tiny-rows th,
.c-table--tiny-rows td {
  @include padding-vertical(tiny);
}
