/* ==========================================================================
   #BUTTON
   ========================================================================== */

// Based on InuitCSS:
// https://github.com/inuitcss/objects.buttons/blob/master/_objects.buttons.scss


$btn-padding:             halve(get-spacing());
$btn-padding--micro:      quarter($btn-padding);
$btn-padding--tiny:       halve($btn-padding);
$btn-padding--large:      double($btn-padding);

$btn-background:           get-color("primary");
$btn-color:                #FFFFFF;

$btn-outline-background:   transparent;
$btn-outline-color:        get-color("primary");
$btn-outline-border-width: 2px;

$btn-border-width:         2px;
$btn-border-style:         solid;
$btn-border-color:         $btn-background;


/**
 * 1. Allow us to style box model properties.
 * 2. Line different sized buttons up a little nicer.
 * 3. Make buttons inherit font styles (often necessary when styling `input`s as
 *    buttons).
 * 4. Reset/normalize some styles.
 * 5. Force all button-styled elements to appear clickable.
 * 6. Fixes odd inner spacing in IE7.
 * 7. Subtract the border size from the padding value so that buttons do not
 *    grow larger as we add borders.
 */

.c-btn {
  display: inline-block; /* [1] */
  vertical-align: middle; /* [2] */
  font: inherit; /* [3] */
  text-align: center; /* [4] */
  margin:  0; /* [4] */
  cursor: pointer; /* [5] */
  overflow: visible; /* [6] */
  padding: $btn-padding - $btn-border-width  double($btn-padding) - $btn-border-width; /* [7] */
  background-color: $btn-background;
  outline: none;

  @if($btn-border-width != 0) {
    border: $btn-border-width $btn-border-style $btn-border-color;

    &:focus {
      border: $btn-border-width $btn-border-style $btn-border-color !important; /* [4] */
    }

  } @else {
    border: none; /* [4] */
  }

  &,
  &:hover,
  &:active,
  &:focus,
  &:visited {
    text-decoration: none; /* [4] */
    color: $btn-color;
  }
}

/**
* Fix a Firefox bug whereby `input type="submit"` gains 2px extra padding.
*/
.c-btn::-moz-focus-inner {
  border:  0;
  padding: 0;
}


.c-btn--round {
  @include radius;
}


.c-btn--outline {
  &,
  &:hover,
  &:active,
  &:focus {
    background: $btn-outline-background;
    color: $btn-outline-color;
    border-width: $btn-outline-border-width !important;
  }
}

.c-btn--outline-white {
  &,
  &:hover,
  &:active,
  &:focus {
    background-color: transparent;
    border-color: white !important;
    border-width: $btn-outline-border-width !important;
  }
}


.c-btn--neutral {
  &,
  &:hover,
  &:active,
  &:focus {
    background: transparent;
    color: get-color("text-primary-dark") !important;
    border-color: get-color("divider-dark") !important;
    border-width: $btn-outline-border-width !important;
  }
}


.c-btn--micro {
  padding: $btn-padding--micro - $btn-border-width double($btn-padding--micro) - $btn-border-width; /* [7] */
}


.c-btn--tiny {
  padding: $btn-padding--tiny - $btn-border-width double($btn-padding--tiny) - $btn-border-width; /* [7] */
}


.c-btn--large {
  padding: $btn-padding--large - $btn-border-width double($btn-padding--large) - $btn-border-width; /* [7] */
}


.c-btn--full {
  width: 100%;
}


/**
 * Round-ended buttons
 *
 * 1. Overly-large value to ensure the radius rounds the whole end of the
 *    button.
 */

.c-btn--pill {
  border-radius: 100px; /* [1] */
}

.c-btn--elevate {
  @include elevation(
    $elevation: 1,
    $transition: box-shadow ease $global-transition-fast
  );

  &:focus,
  &:hover {
    @include elevation(
      $elevation: 2,
      $transition: box-shadow ease $global-transition-fast,
      $important: true
    );
  }

  &:active {
    @include elevation(
      $elevation: 3,
      $transition: box-shadow ease $global-transition-fast,
      $important: true
    );
  }
}

.c-btn--elevate\@hover {
  &:focus,
  &:hover {
    @include elevation(
      $elevation: 2,
      $transition: box-shadow ease $global-transition-fast,
      $important: true
    );
  }

  &:active {
    @include elevation(
      $elevation: 3,
      $transition: box-shadow ease $global-transition-fast,
      $important: true
    );
  }
}

.c-btn--elevate\@active {
  &:active {
    @include elevation(
      $elevation: 2,
      $transition: box-shadow ease $global-transition-fast,
      $important: true
    );
  }
}


.c-btn--uppercase {
  @include label();
}

.c-btn--alert {
  &,
  &:hover,
  &:active,
  &:focus {
    background: get-color("alert");
    border-color: get-color("alert") !important;
    color: white;
  }
}

.c-btn--transparent {
  &,
  &:hover,
  &:active,
  &:focus {
    background: transparent;
    border-color: transparent !important;
    color: get-color("text-primary-dark");
  }
}

.c-btn--white {
  &,
  &:hover,
  &:active,
  &:focus {
    background: white;
    border-color: transparent !important;
    color: get-color("text-primary-dark");
  }
}

.c-btn--icon {
  background: transparent;
  color: get-color(material-icon) !important;
  border-radius: 100%;
  @include padding(nano);
  border-color: transparent !important;

  &:hover,
  &:active,
  &:focus {
    background: rgba(158,158,158,.2);
    border-color: transparent !important;
    color: get-color(material-icon-active) !important;
  }
}

.c-btn--flat {
  background: transparent !important;
  color: get-color(primary) !important;
  border-color: transparent !important;
  @include radius;

  &:hover {
    background-color: rgba(158,158,158, 0.2) !important;
    border-color: transparent !important;
  }
  &:focus {
    background-color: rgba(0,0,0,0.12) !important;
    border-color: transparent !important;
  }
}
