/* ==========================================================================
   #HORIZONTAL-DIVIDER
   ========================================================================== */

.c-horizontal-divider {
  height: 1px;
  width: 100%;
  background-color: color("divider-dark");
}
