/* ==========================================================================
   #LINKS
   ========================================================================== */

a {
  &,
  &:visited {
    color: color(link-primary-dark);
    text-decoration: none;
  }

  &:hover,
  &:focus,
  &:active {
    color: color(link-primary-dark);
    text-decoration: underline;
  }

  &:focus {
    outline: none;
  }
}
